<div class="new_account">
 <div class="padding20"></div>

 <div class="animated fadeInDown">
   <div class="form">

	<%= render 'form' %>


  </div>
 </div>
</div>
 <div class="padding20"></div>
</div>
