<div class="btn-group">
  <a class="btn btn-success" href="#fakelink" title="Play"><span><%= link_to 'View', user_path(user.id) %></span></a>
  <a class="btn btn-danger active" href="#fakelink"><span>Add to Favorites</span></a>
 </div>
