<div class="btn-group">
  <a class="btn btn-primary" class="" href="#fakelink" title="Add to Favorite"><span class="fui-time"></span></a>
  <a class="btn btn-primary" href="#fakelink" title="Play"><span class="fui-photo"></span></a>
  <a class="btn btn-primary active" href="#fakelink"><span class="fui-heart"></span></a>
  <a class="btn btn-primary" href="#fakelink"><span class="fui-eye"></span></a>
 </div>
