<div class="new_account">
 <div class="padding20"></div>

 <div class="animated fadeInDown">
   
	   <div class="form">		
			<h2>Edit User</h2>
			<%= render "edit_form" %>
		</div>
		
	<div class="padding20"></div>
  </div>
 </div>
</div>
</div>

