
<div class="main">

<div class="padding20"></div>

<div class="search-tools">
  <div class="filter">
    <label> I am searching for ▼</label>
    <div>
      <ol>
        <li>
          <input id="male" type="checkbox" name="gender" value="male">
          <label for="male">Male</label>
        </li>
        <li>
          <input id="female" type="checkbox" name="gender" value="male">
          <label for="female">Female</label>
        </li>
      </ol>
    </div>
  </div>
  <div class="filter">
    <label>Age ▼</label>
    <div>
      <ol>
       <li>
          <input id="eighteen" type="checkbox"  name="age" value= "18-30">
          <label for="small">less than or equals to 30</label>
        </li>
        <li>
          <input id="thirty-one" type="checkbox"  name="age" value ="31-40">
          <label for="medium">31-40</label>
        </li>
        <li>
          <input id="forty-one" type="checkbox"  name="age" value = "41-50">
          <label for="medium">41-50</label>
        </li>
        <li>
          <input id="fifty-one" type="checkbox"  name="age" value = "51-60">
          <label for="medium">51-60</label>
        </li>
        <li>
          <input id="sixty-one" type="checkbox"  name="age" value = "61-100">
          <label for="medium">greater than 60</label>
        </li>
      </ol>
    </div>
  </div>
    <div class="filter">
    <label>City ▼</label>
    <div>
      <ol>
         <li>
          <input id="toronto" type="checkbox"  name="city" value="toronto">
          <label for="toronto">Toronto</label>
        </li>
        <li>
          <input id="newyork" type="checkbox" name="city" value="newyork">
          <label for="newyork">New York</label>
        </li>

        <li>
          <input id="london" type="checkbox"  name="city" value="london">
          <label for="london">London</label>
        </li>
      </ol>
    </div>
  </div>
  <div class="trigger">
    <button>Search </button>
  </div>
</div>


<br>

<div id="slider">

  
    <div class="filtering">

        <h3>Users online</h3>
    
        <% @user10.each do |user| %>
          <div><%= link_to image_tag("https://placeimg.com/150/150/people"), user_path(user.id) %><span><%= link_to user.username, user_path(user.id) %></span></div>
        
        <% end %>
          
        </div>
  
  </div>



<div id="search_results"><hr>

  <ul id="users-gird-list">
    <%= render @users %>
  </ul>

  <div id="paginate-div">
    <%= paginate @users %>
  <div>
    
</div>
