
<div class="main">

<div class="padding20"></div>

<div class="search-tools">
  <div class="filter">
    <label> I am searching for ▼</label>
    <div>
      <ol>
        <li>
          <input id="all" type="radio"  name="gender" value='all'>
          <label for="all">All</label>
       </li>
        <li>
          <input id="male" type="radio" name="gender" value="male">
          <label for="male">Male</label>
        </li>
        <li>
          <input id="female" type="radio" name="gender" value="female">
          <label for="female">Female</label>
        </li>
      </ol>
    </div>
  </div>
  <div class="filter">
    <label>Age ▼</label>
    <div>
      <ol>
       <li>
          <input id="all" type="radio"  name="age" value='all'>
          <label for="all">All</label>
       </li>
       <li>
          <input id="eighteen" type="radio"  name="age" value= "18-30">
          <label for="small">less than or equals to 30</label>
        </li>
        <li>
          <input id="thirty-one" type="radio"  name="age" value ="31-40">
          <label for="medium">31-40</label>
        </li>
        <li>
          <input id="forty-one" type="radio"  name="age" value = "41-50">
          <label for="medium">41-50</label>
        </li>
        <li>
          <input id="fifty-one" type="radio"  name="age" value = "51-60">
          <label for="medium">51-60</label>
        </li>
        <li>
          <input id="sixty-one" type="radio"  name="age" value = "61-100">
          <label for="medium">greater than 60</label>
        </li>
      </ol>
    </div>
  </div>
    <div class="filter">
    <label>City ▼</label>
    <div>
      <ol>
        <li>
          <input id="all" type="radio"  name="city" value='all'>
          <label for="all">All</label>
        </li>
         <li>
          <input id="toronto" type="radio"  name="city" value="toronto">
          <label for="toronto">Toronto</label>
        </li>
        <li>
          <input id="newyork" type="radio" name="city" value="new york">
          <label for="newyork">New York</label>
        </li>

        <li>
          <input id="london" type="radio"  name="city" value="london">
          <label for="london">London</label>
        </li>
      </ol>
    </div>
  </div>
  <div class="trigger">
    <button id ="search-button" data-url=<%= users_path %>>Search </button>
  </div>
</div>

<br>

<div id="slider">
    <div class="filtering">
      <h3>Feature Users</h3>
        <%= render partial: 'feature_user', collection: @user10 %>     
    </div>
</div>

<div id="search_results"><hr>

<ul id="users-grid-list">
 <%= render @users %>
 </ul>

</div>
<div id="paginate-div">
<%= paginate @users %>
<div>