<div class="new_account">
<div class="padding20"></div>

<div class="animated fadeInDown">
	<div class="form">
	 	<h2>Sign up</h2><hr>
			<%= render "form" %>
	 </div>
	</div><!-- animation -->

</div>
