<div class="main">
    <div id='new_message'>
      <%if @user.favorite_users.length > 0 %>
        <%= link_to 'New Message', new_user_private_message_path, class: 'btn btn-inverse new_message'%> 
      <% end %>
    </div>
    <table class="table-minimal private_messages">
      <thead>
        <tr>
          <th width='200' height='50'>Date</th>
          <th width='150' height='50'>From</th>
          <th width='450' height='50'>Message</th>
          <th width='250' height='50'>Manage</th>
        </tr>
      </thead>
      <tbody id = "received-messages-tbody">
        <%= render @received_messages %>
      </tbody>
    </table>
</div>
  <span id="paginate" class='right'>
    <%= paginate @received_messages %>
  </span>
<div class="padding20"></div>
