<div class="main">

<div class="padding20"></div>
    
  
  <div id='new_message'>
      <%= link_to 'New Message', new_user_private_message_path, class: 'btn btn-primary new_message'%> 
  </div>

    <table class="table-minimal private_messages">
      <thead>
        <tr>
          <th width='200'>Date</th>
          <th width='150'>From</th>
          <th width='450'>Message</th>
          <th width='250'>Manage</th>
        </tr>
      </thead>
      <tbody id = "received-messages-tbody">

        <%= render @user.obtained_messages %>


      </tbody>
    </table>
</div>

<div class="padding20"></div>
