<div class="main">

<div class="padding20"></div>

    <table class="table-minimal private_messages">
      <thead>
        <tr>
          <th width='150'>Date</th>
          <th width='150'>From</th>
          <th width='450'>Message</th>
          <th width='250'>Manage</th>
        </tr>
      </thead>
      <tbody id = "received-messages-tbody">
      <%= render @received_messages %>
      </tbody>
    </table>
</div>

<div class="padding20"></div>
