<div class="main">

<div class="padding20"></div>

    <table class="table-minimal private_messages">
      <thead>
        <tr>
          <th>From</th>
          <th>Message</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lulu</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut ....</td>
          <td><button>Reply</button><button>Delete</button></td>
        </tr>
        <tr>
          <td>Weiyi</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod ....</td>
          <td><button>Reply</button><button>Delete</button></td>
        </tr>
        <tr>
          <td>Drew</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do ....</td>
          <td><button>Reply</button><button>Delete</button></td>
        </tr>
        <tr>
          <td>Sandy</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut ....</td>
          <td><button>Reply</button><button>Delete</button></td>
        </tr>
      </tbody>
    </table>
</div>
