<div class="main">

<div class="padding20"></div>


    <table class="table-minimal private_messages">
      <thead>
        <tr>
          <th>To <input type="text" placeholder="receiver"></th>         
        </tr>
        <tr>
        	<th>subject <input type="text" placeholder="subject"> </th>
        </tr>     
      </thead>
      <tbody>
      	<tr class="message_box">

      		<td>
      			Message
      			<textarea rows='10'></textarea>

      				 <button id="send">Send</button>	
      		</td>

      	</tr>
        
      </tbody>
    </table>

</div>

<div class="padding20"></div>



