<div class="main">

<div class="padding20"></div>

    <table class="table-minimal private_messages">
      <thead>
        <tr>
          <th width='150'>Date</th>
          <th width='150'>From</th>
          <th width='450'>Message</th>
          <th width='250'>Manage</th>
        </tr>
      </thead>
      <tbody>
        	
        <tr>
          <td>2014, Jul. 26</td>
          <td>Lulu</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut ....</td>
          <td><button class='btn btn-inverse'>Reply</button class='btn btn-danger'><button class='btn btn-danger'>Delete</button></td>
        </tr>

      </tbody>
    </table>
</div>
