<div class="main">

<div class="padding20"></div>

    <table class="table-minimal private_messages">
      <thead>
        <tr>
          <th>From</th>
          <th>Message</th>
          <th>Manage</th>
        </tr>
      </thead>
      <tbody>
        	
        	message ...

      </tbody>
    </table>
</div>
