<div class="main">

<div class="padding20"></div>

    <div class="clearfix"></div>  
    
    <table class="table-minimal private_messages">




      <thead>
        <tr>
          <th width='150'>Date</th>
          <th width='150'>From</th>
          <th width='450'>Message</th>
          <th width='250'>Manage</th>
        </tr>
      </thead>
      <tbody>
        	
        <tr>
          <td>2014, Jul. 26</td>
          <td>Lulu</td>
          <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut ....</td>
          <td>
            <%= link_to "Back", user_private_messages_path(current_user), class: "btn btn-primary" %>
            <%= link_to "Reply", new_user_private_message_path(@private_message.sender), class: "btn btn-inverse" %>
            <%= link_to "Delete", private_message_path(@private_message), method: :delete, class: "btn btn-danger delete-btn", remote: true  %>
        </tr>

      </tbody>
    </table>
</div>
