<h1>Games#show</h1>
<p>Find me in app/views/games/show.html.erb</p>

<h1>This is where a game should be</h1>

<div class="game_area">
  <div id="x_game_info">
    <p id="x_label">xlabel</p>
    <p id="x_score">xscore</p>
  </div>
  <div id="o_game_info">
    <p id="o_label">olabel</p>
    <p id="o_score">oscore</p>
  </div>
  <div id="restart_region">
    <p id="restart_message"></p>
  </div>
  <table>
    <tr>
      <td id = "0">T</td>
      <td id = "1">I</td>
      <td id = "2">C</td>
    </tr>
    <tr>
      <td id = "3">T</td>
      <td id = "4">A</td>
      <td id = "5">C</td>
    </tr>
    <tr>
      <td id = "6">Y</td>
      <td id = "7">O</td>
      <td id = "8">!</td>
    </tr>
  </table>
  <button id='init'>Click Here to <br>Start New Game</button>
  <button id='cont_playing'>Click to Continue Playing</button>
  <button id='reset'>Reset Game</button>
  <p id="player_goes"></p>
</div>
<div id="chat_region">
  <div id="chat_box">
    <p id="chat_reminder">look below to start chat</p>
  </div>
  <input type="text" id="username" placeholder="name">
  <input type="text" id="messageInput" placeholder="place message here">
</div>
<script type="text/javascript">
  var players = {
    player1: <%= @inviter.id %>,
    player2: <%= @invitee.id %>
  };
</script>


<style type="text/css">
    td {
      height: 200px;
      width: 200px;
      border: solid 5px;
      font-size: 70px;
    }
    #chat_box {
      height: 200px;
      width: 200px;
      border: solid 5px;
      font-size: 18px;
    }

</style>
