
<div class="hero">
	<div class="hero-inner">

    <div class="margin20"></div>
	      <div class="animated fadeInDown">
         <h1 class="h1">TIC TAC YO!</h1>
        </div>
        
		<div class="hero-copy">

    	
				
		  <div class="margin20"></div>


     


			<h1>Join the best free dating site on Earth. <em>(tagline)</em></h1>
			<div class="account">
			    <a href="#sign-up" class="sign_up btn btn-success">Sign Up</a>  
          <a href="#" class="log_in btn btn-success">Log In</a>
			   <div class="clearfix"></div>
	
    		</div>
    
	    </div><!-- hero-copy-->	
	</div>


<div class="bottom">
<div id="sign-up">


<div class="search-tools">

<div id="facebook">
<h3>Create an account</h3>

	<button>Login with Facebook</button>

</div><br>

	<p>----------------------------------  Or --------------------------------</p>
  <div>
    <label>Username</label>
    <div>      
          <input id="red" type="text" placeholder="name">
    </div>
  </div>
  <div >
    <label>Email</label>
    <div>      
          <input id="red" type="text" placeholder="email">
    </div>
  </div>
    <div >
    <label>Email</label>
    <div>      
          <input id="red" type="text" placeholder="email">
    </div>
  </div>


    <button>Update</button>

</div>

   
	</div>

</div><!--bottom-->


	</div>

</div>



