/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require slick
 *= require jquery.bxslider
 */


 @import 'bourbon';
 @import 'base/grid-settings';
 @import "neat";
 @import "base/base";
 @import "components";
 @import "welcomes";
 @import 'foundation-icons';
 @import "flatui";
 @import "font-awesome";
 @import "animate";
 @import "users";
 @import "private_messages";
 @import "pagination";
 @import "games";


$margin: 10px;

body {
	margin: 0;
}

.alerts {
 position:absolute;
}


.margin20 {
	margin-top: $margin + 10px;
}

.main {
	padding-top: 3%;
}

.padding20 {
	padding-top: $margin + 40px;
}

#notice {
	padding: 0 7%;
	border-radius: 20px;
	width: 100%;
	font-size: 14px;
	color: #ecf0f1;
	font-weight: bold;
	background: #1abc9c;
	margin-left: 120%;	
}


.bx-wrapper .bx-viewport {
  -moz-box-shadow: 0 0 0 transparent;
  -webkit-box-shadow: 0 0 0 transparent;
  box-shadow: 0 0 0 transparent;
  border:  0px solid transparent;
  left: 0;
  background: none;
}

.clearfix {
	clear: both;
}

.table-minimal tbody td {
 	height: 50px;
 	border: none;
 	border-bottom: 1px solid #666;

}