// Place all the styles related to the private_messages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.main { 
  @include outer-container;
  table.private_messages {
  		padding: 2% 6%;
	  	tr {
	  		background: $cloud;

	  		&:hover {
	  		 background: #ccc;
	  		}
	  	}

	  	tr.message_box {
			background-color: #5faee3;

			&:hover {
	  		 background-color: #5faee3;
	  		}

	  		#send {
	  			float: right;
	  			padding: 1% 3%;
	  		}   		
	  	}

	  button {
	  	border:none;
	  	box-shadow: none;
	  	text-shadow: none;

		  	&.btn-danger {
		  	background: #e74c3c;
		  		&:hover {
		  			background: #ec7063;

		  		}
		   }

		   &.btn-inverse {
		  	background: #34495e;

		  		&:hover {
		  			background: #415b76;
		  		}
		  }
	  }
  }
}

#new_message {
	margin: 20% 0 0 20%;
	display: inline-block;
}