// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background: $base-body-color;
}

header.navigation ul li a.current_user {
  color: #3498db;
}

#search_results{
  
  @include outer-container;
  li.block {
  position: relative;
  @include span-columns(3);
  @include omega(4n);
   margin-bottom: $gutter;
	}

  span.links {
    position: absolute;
    display: none;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 4%;
    color: #fff;
    background: rgba(0,0,0,0.7);

      a {
        float: left;
        margin-right: 5px;
        font-size: 12px;
      
      }

      input {

          border-radius: 4px;
          padding: 10px 10px 13px 15px;
          margin:0;

          
          &[value] {
            font-size: 12px;
          }
          
          &:hover {
            background: #ec7063;
          }
      }


  }

  span.username {
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    padding: 4%;
    color: #000;
    background: rgba(255,255,255,0.8);
  }


  padding: $gutter;
}

#slider {
  @include outer-container;
   .filtering {
   @include span-columns(8);
   @include shift(2);

    .slick-list {
      padding: 0 0 3% 4.5%;
    }
    img {
      border-radius: 10px;
      border: 2px solid $cloud;
    }

    a {
      color: #ccc;
    }

	}


}




#facebook {
  @include outer-container;
   button {
   @include span-columns(6);
   @include shift(3);
   @include reset-display;
	}
	h3 {
   @include span-columns(8);
   @include shift(2);
	}
}

.new_account {
   @include outer-container;
   padding-top: 5%;

    .form {
     padding: 2% 5% 5% 5%;
     border-radius: $base-border-radius;
     background:$cloud;
     @include span-columns(6);
     @include shift(3);

      label {
        font-weight: 700;
      }

      .submit {
        float: right;
      }
   }
  

}

.search-tools {
  $search-tools-border-color: $base-border-color;
  $search-tools-background: lighten($search-tools-border-color, 10);

  @include clearfix;
  border: 1px solid $search-tools-border-color;
  background: $search-tools-background;
  padding: $gutter * 2;
  border-radius: $base-border-radius;

  .filter {
    margin-bottom: 1em;

    @include media($large-screen) {
      @include span-columns(3.5);
      margin-bottom: 0;
    }

    > div {
      @extend input[type="text"];
      position: relative;

      label {
        font-weight: 400;
        cursor: pointer;
        margin-bottom: 0;
      }
    }

    ol label {
      display: inline;
    }

    button {
      @include button(simple, lighten($search-tools-background, 10));
      @include position(absolute, 5px 5px auto auto);
      font-size: .7em;
    }

    .hide-options {
      margin-bottom: 0;

      ol, button {
        display: none;
      }
    }
  }

  .trigger {
    width: 100%;

    @include media($large-screen) {
      @include span-columns(1.5);
    }

    button {
      width: 100%;
      margin-top: 1em;
      padding-top: .7em;
      padding-bottom: .7em;

      @include media($large-screen) {
        margin-top: 1.95em;
      }
    }
  }
}

.main {
  @include outer-container;
  margin: 0 auto;

  #profile { 
    @include span-columns(12); 
    @include shift(1);
      .card {
        width: 45%;
      }
  }
  #bio  { 
    @include span-columns(4); 
    @include shift(1);
      ul {
        list-style-type: none;
      }


    }
}


.text-center {

    th, tr {
       text-align: center;
       color: $cloud;
    }
       
}



