// Place all the styles related to the welcomes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


$hero-copy-bg: rgba(52, 152, 219,.5);
$alizarin: #c0392b;
$cloud: #ecf0f1;

.hero-copy {
	background: $hero-copy-bg;
	border-radius:  $base-border-radius;
	padding: 3% 4%;
}

.hero-inner {
  h1:first-child {
    color: $cloud;
  }
}

#about {
  @include outer-container;
  padding-top: 100px;
  .content { 
    @include span-columns(8);
    @include shift(2);
    background: $cloud;
    border-radius: 10px;
    padding: 20px;
  }
}



.bottom {
  margin:0;
  @include outer-container;
   #sign-up { @include span-columns(12); padding-top: 30px}
    @include outer-container;
      .search-tools { @include outer-container;
      @include span-columns(6);@include shift(3);}
}

.account1 {
  display: none;
}


#diapo {
  @include outer-container;
  #shuffle { @include span-columns(3);@include shift(4); }

}

.images {
      position: relative;
      width :250px;
      height: 210px;
  img {
       border-radius: 10px;
       border: 10px solid #eee;
  }

  #slider1 {
    position: absolute;
 
  }

  #slider2 {
    position: absolute;  
  }

   
}

.images.deg7 {
  top:365px;
  left:375px;
  position: absolute;
  transform:rotate(7deg);
  -ms-transform:rotate(7deg); /* IE 9 */
  -webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */

}


.images.deg14 {
    position: absolute;
    top:365px;
    left:510px;
    transform:rotate(-7deg);
    -ms-transform:rotate(-7deg); /* IE 9 */
    -webkit-transform:rotate(-7deg); /* Opera, Chrome, and Safari */

  }

  .images.deg28 {
    position: absolute;
    top:365px;
    left:610px;
    transform:rotate(-28deg);
    -ms-transform:rotate(-28deg); /* IE 9 */
    -webkit-transform:rotate(-28deg); /* Opera, Chrome, and Safari */

  }
.bx-viewport {
  background: transparent;
}
.bx-wrapper {
     transform:rotate(7deg);
    -ms-transform:rotate(7deg); /* IE 9 */
    -webkit-transform:rotate(7deg); /* Opera, Chrome, and Safari */    
}
